<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="CheckNr.Properties.Settings.EDP_WORKConnectionString" connectionString="Data Source=116.62.142.105;Initial Catalog=EDP_WORK;Persist Security Info=True;User ID=sa;Password=rt-MART16" providerName="System.Data.SqlClient"/>
    <add name="CheckNr.Properties.Settings.EDPToolBoxConnectionString" connectionString="Data Source=116.62.142.105;Initial Catalog=EDPToolBox;Persist Security Info=True;User ID=sa;Password=rt-MART16;Pooling=False" providerName="System.Data.SqlClient"/>
    <add name="CheckNr.Properties.Settings.EDPToolBoxConnectionString1" connectionString="Data Source=116.62.142.105;Initial Catalog=EDPToolBox;Persist Security Info=True;User ID=sa;Password=rt-MART16" providerName="System.Data.SqlClient"/>
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
